<div class='profile'>
<h1 align="center">Who am I?</h1>

<img class='profile-img' src = "https://lh3.googleusercontent.com/c6YmCtO3Ik7ezR7gLi-QLJlbW6VM9MDNcobQpoSlDjCIH14GaOS8HBtNd0cjLHT_XEZOACJLZ_cgW_Myf-Z7DANm_-N-f12goxx7xywTzI-6e9gUlw31mZY-gvJZwqRvvMQ8ov6m2eDaw9FJwF-NbfBWeTyEhn9yAVueNVZjIYVB0dUlb73x3e0W30ZpOIw7Vy1hHiirEo-uglzvW-eos2ZuNqUY-lcmhncW5BQT6DVrKEn-eiYOczPABbddXJtXS-18SNrlGeZXAUfPFfccG_roJghtjMiY0a054vDFkYMGqm4t9--iNquwWL0ZsQQfN_162rhmdkpgO13Q4o7Tp-_xMR49RVCY0_Aeigbu6h7zkHty97DXHaBNF7Ecs5UpJf_pXCQllEUQ1psiDzUUVNY2zvZksJjXl3Xk2i4Xf92-M5Y6seJC3wChVwRv2iW1A4PvSKzmCMb6s9r3NyE0tGnNTu4B_NOC5jt5H9A8jnK0MJJp8Tsezw55dW7-m3E-PZTsmGQZARqK15vSDkOIfokSGgH8iU2d2O66zsomcC4IhtvWmHkA5n1BFRACs-I4f1-XR-ADA9sbca6DGfeFygI-mYPHPYPx7T7rgG-hEmY39CzCgpUTOU4QQuxIInWqyeW9HkrRiSNe7kLJklVbfSoE-fd6g5CnmKgvTqBinCrD1zMtdHM4S5UXyAq7nQ=w1100-h1466-no?authuser=0">

    <div class='profile-text'>
    <p>My name is Srishti, and I'm currently a student at Flatiron School.
    I began my coding journey many moons ago with learning HTML and CSS to customize my Neopets' profile pages...
    The journey has been crazy fun, and for this first blog post I'm highlighting all the fun things I've gotten to do in my free time! </p>

    <ul> <b>Other fun facts about me: </b>
    <li>I spent half my time in college studying biochemistry and the other half studying economics.</li>
    <li>I've been to either 33 or 34 countries in the world</li>
    <li>I live in Brooklyn, NY (although is it really living if I'm forced to be here by a so-called global pandemic?)</li>
    <li>I've spent the majority of my adult life in Finance and Consulting</li>
    <li>I've watched every episode of The Office and Parks and Rec, and could recite some episodes from memory</li>
    </ul>

    That's all I got!
    </div>
</div>